
.home{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-height: 600px;
    max-width: 850px;
}
.carousel{
    max-height: 600px;
    max-width: 850px;
}
